
.comments{
    position: relative;
    text-align:center;
    width:90%;
    margin-left:5%;
}
.content{
    width: 90%;
    margin-left:5%;
    border:2px solid black;
    display:flex;
}
.ava{
    width:30%;
    height: auto;
    margin-left:35%;
    margin-bottom:20px;
    margin-top:20px;
}
.ava img{
    width:100%;
    height: auto;
}
h1{
    margin-top:10px;
    margin-bottom:10px;
}
.addPost{
    margin-top:25px;
    margin-bottom:25px;
    width:50%;
    min-height:50px;
    height: auto;
    margin-left:25%;
}
.addPost textarea{
    min-width:100%;
    max-width:100%;
    min-height: 50px;
    max-height: 100px;
}
.addPost button{
    width:50%;
    margin-left:25%;
    height: 30px;
    background:none;
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
}