.item{
    text-align:center;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    min-height: 50px;
    height: auto;
    border:2px solid #70C2A7;
    
}
.item img{
    width:40px;
    height: 40px;
}