h1{
    color:green;
    font-size:30px;
}
.windowContent{
    width:80%;
    height:auto;
    text-align:center;

}
.windowDialogs{
    width:20%;
    height: auto;
    border-left:2px solid #70C2A7;
    text-align:center;
}
.itemDialogs{
    width:95%;
    margin:2.5%;
    height: 50px;
    border:1px solid #70C2A7;
    
}
.FamNam{
    width:80%;
    height: 50px;
    text-align:center;
}


.activeLink{

}
.img{
    width:40px;
    height: 40px;
    border:1px solid #70C2A7;
    border-radius:50%;
    margin-top:5px;
    margin-left:2.5%;
    margin-right:4.5%;
}
.message{
    width:90%;
    margin:5%;
    border-bottom:2px solid #70C2A7;
    min-height: 40px;
    height: auto;
    font-size:25px;
    text-align:center;
 
}